@import "tailwindcss";

:root {
  --color-primary: #1e3a5f;
  --color-secondary: #f7941d;
  --color-accent: #2e7d32;
}

* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}
